body {
  font-family: sans-serif;
  height: 2500px;
}

footer {
  padding: 10pc;
}
.topnav2 {
  overflow: hidden;
  background-color: 8d29cc;
  height: 44px;
  background: #7e33e0;
  font-family: "Josefin Sans", sans-serif;
}

.topnav2 a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  border-radius: 2px;
}

.topnav2 a:hover {
  background-color: #d297f7;
  color: black;
}

.topnav2-left {
  float: left;
}

.topnav2-right {
  float: right;
}

.topnav {
  overflow: hidden;
    
    padding: 20px 10px;
    font-family: 'Josefin Sans', sans-serif;
                                                
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    width: 1177px;
    height: 40px;
    left: 371px;
    top: 63px;

    /* identical to box height, or 125% */


    color: #0D0E43; 
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  color: red;
}

.topnav .search-container {
  float: right;
}

.topnav a.logo {
  font-size: 25px;
  font-weight: bold;
}

.topnav-left {
  float: left;
}

.search-container {
  float: right;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: 1px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #fb2e86;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ffabdb;
}

@media screen and (max-width: 500px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

#Rectangle155 {
  position: absolute;
  width: 1920px;
  height: 286px;
  left: 0px;
  top: 125px;

  background: #f6f5ff;
}

#Rectangle155 #Group186 {
  position: absolute;
  width: 140px;
  height: 64px;
  left: 370px;
  top: 221px;
}

#FAQ {
  position: absolute;
  width: 75px;
  height: 36px;
  left: 370px;
  top: 221px;

  font-family: Josefin Sans;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #101750;
}

#Menu {
  position: absolute;
  width: 140px;
  height: 19px;
  left: 375px;
  top: 266px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}

.General_Information {
  position: absolute;
  width: 348px;
  height: 30px;
  left: 377px;
  top: 545px;

  font-family: Josefin Sans;
  font-size: 36px;
  line-height: 30px;
  /* identical to box height, or 83% */

  text-align: center;
  color: #1d3178;
}

.paragraph1_title {
  position: absolute;
  width: 395px;
  height: 30px;
  left: 377px;
  top: 639px;

  font-family: Josefin Sans;
  font-size: 17px;
  line-height: 30px;
  /* identical to box height, or 176% */

  color: #1d3178;
}

.paragraph2_title {
  position: absolute;
  width: 310px;
  height: 30px;
  left: 377px;
  top: 795px;

  font-family: Josefin Sans;
  font-size: 17px;
  line-height: 30px;
  /* identical to box height, or 176% */

  color: #1d3178;
}

.paragraph3_title {
  position: absolute;
  width: 351px;
  height: 30px;
  left: 377px;
  top: 944px;

  font-family: Josefin Sans;
  font-size: 17px;
  line-height: 30px;
  /* identical to box height, or 176% */

  color: #1d3178;
}

.paragraph4_title {
  position: absolute;
  width: 338px;
  height: 30px;
  left: 377px;
  top: 1098px;

  font-family: Josefin Sans;
  font-size: 17px;
  line-height: 30px;
  /* identical to box height, or 176% */

  color: #1d3178;
}

.paragraph1_content {
  position: absolute;
  width: 499px;
  height: 45px;
  left: 377px;
  top: 684px;

  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */

  color: #a1abcc;
}

.paragraph2_content {
  position: absolute;
  width: 499px;
  height: 45px;
  left: 377px;
  top: 838px;

  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */

  color: #a1abcc;
}

.paragraph3_content {
  position: absolute;
  width: 499px;
  height: 45px;
  left: 377px;
  top: 989px;

  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */

  color: #a1abcc;
}

.paragraph4_content {
  position: absolute;
  width: 499px;
  height: 45px;
  left: 377px;
  top: 1141px;

  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */

  color: #a1abcc;
}

.AskQuestionBox {
  position: absolute;
  width: 566px;
  height: 738px;
  left: 982px;
  top: 534px;

  background: #F8F8FD;
}

.AskQuestion {
  position: absolute;
  width: 175px;
  height: 30px;
  left: 1024px;
  top: 600px;

  font-family: Josefin Sans;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */

  text-align: center;

  color: #1d3178;
}

#name {
	position: absolute;
	width: 445px;
	height: 50px;
	left: 1028px;
	top: 744px;

	background: #FFFFFF;
	border: 1px solid #CDCEDC;
	box-sizing: border-box;
	border-radius: 5px;
}

#subject {
	position: absolute;
	width: 445px;
	height: 50px;
	left: 1028px;
	top: 829px;

	background: #FFFFFF;
	border: 1px solid #CDCEDC;
	box-sizing: border-box;
	border-radius: 5px;
}

#message {
	position: absolute;
	width: 445px;
	height: 197px;
	left: 1028px;
	top: 924px;
  

	/* background: #FFFFFF; */
	border: 1px solid #CDCEDC;
	box-sizing: border-box;
	border-radius: 5px;
}

#submit-btn {
	position: absolute;
	width: 156px;
	height: 48px;
	left: 1028px;
	top: 1162px;

	background: #FB2E86;
	border-radius: 3px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.sponsor {
    position: absolute;
    width: 1246px;
    height: 128px;
    left: 337px;
    top: 1364px;

    background: url(Pictures/sponsor.png);
}

